{{ form_start(form) }}

<div class="row">
    <div class="form-container p-3">
        <h5>Général</h5>
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
    </div>

</div>

{% include 'components/button/_btn_bar.html.twig' with {
    buttons: {
        back: {
            type: 'link',
            route: 'app_account_index',
            icon: 'bi-arrow-left',
            label: 'Retour',
            class: 'btn btn-outline-primary btn-sm'
        },
        save: {
            type: 'submit',
            icon: 'bi-check',
            label: 'Enregistrer',
            class: 'btn btn-primary btn-sm'
        },
    }
} %}

<ul class="tabs tabs--primary my-3 nav" role="tablist">
    <li class="tab nav-item" role="presentation">
        <a id="tab-genaral" class="tab__link nav-link" data-bs-toggle="tab" href="#general" role="tab"
           aria-controls="general"
           aria-selected="false">Général</a>
    </li>
    <li class="tab nav-item" role="presentation">
        <a id="tab-information-system" class="tab__link nav-link" data-bs-toggle="tab" href="#information-system"
           role="tab" aria-controls="information-system"
           aria-selected="false">Système d'information</a>
    </li>
    <li class="tab nav-item" role="presentation">
        <a id="tab-contacts" class="tab__link nav-link" data-bs-toggle="tab" href="#contacts" role="tab"
           aria-controls="contacts"
           aria-selected="true">Contacts</a>
    </li>
</ul>

<div class="tab-content">
    <div id="general" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-general">
        <div class="mx-2">

        </div>
    </div>
    <div id="information-system" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-information-system">
        <div class="mx-2">
            <div class="row">
                <div class="col-md-4">
                    <h5>Nom</h5>
                </div>
                <div class="col-md-4">
                    <h5>Type</h5>
                </div>
            </div>
            <div>
                {{ form_widget(form.informationSystem) }}

            </div>

        </div>
    </div>
    <div id="contacts" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-contacts">
        <div class="mx-2">
            <div class="row">
                <div class="col-md-4">
                    <h5>Nom</h5>
                </div>
                <div class="col-md-3">
                    <h5>Fonction</h5>
                </div>
                <div class="col-md-4">
                    <h5>Email</h5>
                </div>
            </div>
                {{ form_widget(form.contacts) }}
            </div>
        </div>
    </div>
</div>

{{ form_end(form) }}
