{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}

    <h2>Mon organisation : </h2>
    <div class="d-flex align-items-center justify-content-between mt-3 mb-3">
        <h4 class="col-header my-4">{{ tenant.name }}</h4>
        {% if renderingConfig.logoPath %}
            <div style="width:100px; height:100px; flex:0 0 100px;">
                <img
                    src="{{ asset('uploads/' ~ renderingConfig.logoPath) }}"
                    alt="Logo"
                    style="width:100% !important; height:100% !important; object-fit:contain; display:block;"
                >
            </div>
        {% endif %}
    </div>

    <div
        data-controller="tabs-persist"
        data-tabs-persist-default-tab-value="#users"
        data-tabs-persist-storage-key-value="tenantTabs"
        data-tabs-persist-mode-value="storage"
    >
        <ul class="tabs tabs--primary my-3 nav" role="tablist">
            <li class="tab nav-item" role="presentation">
                <a id="tab-users" class="tab__link nav-link" data-bs-toggle="tab" href="#users" role="tab"
                   aria-controls="users"
                   aria-selected="false">Utilisateurs</a>
            </li>
            <li class="tab nav-item" role="presentation">
                <a id="tab-templates" class="tab__link nav-link" data-bs-toggle="tab" href="#templates" role="tab"
                   aria-controls="templates"
                   aria-selected="false">Templates de documents</a>
            </li>
        </ul>
    </div>
    <div class="tab-content">
        <div id="users" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-users">
            <div class="mx-2">
                {% include 'components/table/_table.html.twig' with {
                    items: users,
                    columns: ['username', 'email','rolesLabel'],
                    headers: ['Nom', 'Email','Type de license'],
                    filter: true,
                    sort: true,
                    add: {route: 'app_user_new'},
                    actions: [
                        {
                            route: 'app_user_show',
                            param_map: { id: 'id' },
                            icon: 'bi-eye',
                            label: 'Voir',
                        },
                        {
                            route: 'app_user_edit',
                            param_map: { id: 'id' },
                            icon: 'bi-pencil',
                            label: 'Éditer',
                        },
                        {
                            route: 'app_user_delete',
                            param_map: { id: 'id' },
                            icon: 'bi-trash',
                            label: 'Supprimer',
                        }
                    ]
                } %}
            </div>
        </div>
        <div id="templates" class="tab-pane fade" role="tabpanel" aria-labelledby="tab-templates">
            <div class="mx-2">
                <div class="d-flex align-items-center justify-content-end mt-3 mb-3">
                    <a href="{{ path('app_rendering_config_edit') }}"
                       class="btn btn-outline-primary btn-sm"
                       title="Paramètres">
                        <i class="bi bi-gear"></i>
                    </a>
                </div>

                {% if renderingConfig is defined and renderingConfig is not null %}
                    <div class="d-flex gap-3 p-2">
                        <div class="col-3">Couleur du titre du document :</div>
                        <div class="px-2"
                             style="background-color: {{ renderingConfig.documentTitleColor ?? 'transparent' }};">{{ renderingConfig.documentTitleColor }}</div>
                    </div>
                    <div class="d-flex gap-3 p-2">
                        <div class="col-3">Couleur des titres h1 :</div>
                        <div class="px-2"
                             style="background-color: {{ renderingConfig.titleH1Color ?? 'transparent' }};">{{ renderingConfig.titleH1Color }}</div>
                    </div>
                    <div class="d-flex gap-3 p-2">
                        <div class="col-3">Couleur des titres h2 :</div>
                        <div class="px-2"
                             style="background-color: {{ renderingConfig.titleH2Color ?? 'transparent' }};">{{ renderingConfig.titleH2Color }}</div>
                    </div>
                    <div class="d-flex gap-3 p-2">
                        <div class="col-3">Couleur des titres h3 :</div>
                        <div class="px-2"
                             style="background-color: {{ renderingConfig.titleH3Color ?? 'transparent' }};">{{ renderingConfig.titleH3Color }}</div>
                    </div>
                    <div class="d-flex gap-3 p-2">
                        <div class="col-3">Couleur de fond des entêtes de tableaux :</div>
                        <div class="px-2"
                             style="background-color: {{ renderingConfig.tableHeaderBackgroundColor ?? 'transparent' }};">{{ renderingConfig.tableHeaderBackgroundColor }}</div>
                    </div>
                    <div class="d-flex gap-3 p-2">
                        <div class="col-3">Couleur des labels des entêtes de tableaux :</div>
                        <div class="px-2"
                             style="background-color: {{ renderingConfig.tableHeaderColor ?? 'transparent' }};">{{ renderingConfig.tableHeaderColor }}</div>
                    </div>
                    <div class="d-flex gap-3 p-2">
                        <div class="col-3">Couleur des bordures :</div>
                        <div class="px-2"
                             style="background-color: {{ renderingConfig.borderColor ?? 'transparent' }};">{{ renderingConfig.borderColor }}</div>
                    </div>

                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
