{{ form_start(form) }}
<div class="row form-container my-3">
    <div class="col-md-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.email) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.function) }}
    </div>
</div>

{{ form_end(form) }}
