{{ form_start(elementForm) }}
    {% set entityId = captureElement.id ?? null %}
    {% set collapseId = 'collapse_capture_element_' ~ (entityId ?: elementForm.vars.unique_block_prefix|default('x')) %}


<div class="card h-100 mb-3">
    <div class="card-body py-2 d-flex align-items-center" data-sortable-handle>
        <div class="card-title mb-0">
            <b>{{ captureElement.name }} :</b> {{ captureElement.description }}
        </div>

        <div class="card-actions ms-auto d-inline-flex align-items-center gap-2">
            <div>{{ captureElement.active }}</div>

            {# EXPAND #}
            <button class="btn btn-outline-primary btn-sm"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#{{ collapseId }}"
                    aria-expanded="false"
                    aria-controls="{{ collapseId }}"
                    title="Ouvrir">
                <i class="bi bi-chevron-down"></i>
            </button>
        </div>
    </div>

    <div id="{{ collapseId }}" class="collapse">
        <div class="pt-2">


            {% if elementForm.fields is defined and elementForm.fields|length > 0 %}
                {% for fieldForm in elementForm.fields %}
                    <div class="row m-2">
                        {% if incomingConditions is defined and incomingConditions|length %}
                            <div class="text-muted small mb-2">
                                {% for cond in incomingConditions %}
                                    <div>{{ cond }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}
                        <div class="col-md-12 pt-2">
                            {# TYPE #}
                            {% if fieldForm.type is defined %}
                                <span class="badge bg-secondary type-badge d-inline-block mb-2 me-2">
                                        {{ fieldForm.type.vars.value }}
                                    </span>
                            {% endif %}

                            {# LABEL #}
                            {% if fieldForm.externalConfig is defined and fieldForm.externalConfig.label is defined %}
                                {{ form_row(fieldForm.externalConfig.label) }}
                            {% elseif fieldForm.label is defined %}
                                {{ form_row(fieldForm.label) }}
                            {% else %}
                                {# fallback #}
                                {{ form_row(fieldForm) }}
                            {% endif %}
                        </div>

                        {# CHOICES #}
                        {% if fieldForm.choices is defined and fieldForm.choices|length > 0 %}
                            <div class="p-3">
                                <ul>
                                    {% for choiceForm in fieldForm.choices %}
                                        <li>
                                            {% if choiceForm.label is defined %}
                                                {{ form_row(choiceForm.label) }}
                                            {% else %}
                                                {{ form_widget(choiceForm) }}
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <div class="text-muted small">Aucun champ</div>
            {% endif %}
            <div class="d-flex justify-content-end align-items-start gap-2 my-3 mx-3">

                {% include 'components/button/_btn.html.twig' with {
                    btn: {
                        type: 'submit',
                        label: 'Enregistrer',
                        icon: 'bi-check',
                        class: 'btn btn-primary'
                    }
                } %}
            </div>
        </div>

    </div>

</div>

{{ form_end(elementForm) }}
