{% extends 'base.html.twig' %}

{% block title %}Edit FlexCapture{% endblock %}

{% block body %}
    <h1>Modifier l'élément de capture de liste</h1>

    {{ form_start(form) }}

    {{ include('capture/capture_element/_form_base.html.twig') }}

    <div data-controller="">
        <div class="d-flex justify-content-end gap-2 mt-4">
            {% include 'components/button/_btn.html.twig' with {
                btn: {
                    type: 'link',
                    label: 'Aperçu',
                    icon: 'bi-eye',
                    route: 'app_capture_element_form_preview',
                    param_map: { id: 'element.id' },
                    class: 'btn btn-outline-primary'
                }
            } %}
            {% include 'components/button/_btn.html.twig' with {
                btn: {
                    type: 'link',
                    label: 'Editer le rendu',
                    icon: 'bi-pencil',
                    route: 'app_capture_element_render_text_edit',
                    param_map: { id: 'element.id' },
                    class: 'btn btn-outline-primary'
                }
            } %}

            {% include 'components/button/_btn.html.twig' with {
                btn: {
                    type: 'link',
                    label: 'Retour',
                    icon: 'bi-arrow-left',
                    route: 'app_capture_template_edit',
                    param_map: { id: 'captureId' },
                    class: 'btn btn-outline-primary'
                }
            } %}

            {% include 'components/button/_btn.html.twig' with {
                btn: {
                    type: 'submit',
                    label: 'Enregistrer',
                    icon: 'bi-check',
                    class: 'btn btn-primary'
                }
            } %}
        </div>


        {#{% set prototype %}
            {% include 'capture/field/_field_template_prototype.html.twig' with { form: form.fields.vars.prototype } %}
        {% endset %}


        <div class="row p-3 " data-controller="sortable-order">
             #}{#JSON order#}{#
            <input type="hidden"
                   name="fields_order"
                   data-sortable-order-target="input"
                   value="{{ (fieldForm.vars.value.fields ?? [])|map(f => f.id)|json_encode }}">
            <div class="p-3">
                <div class="sortable-list" data-prototype="{{ prototype|e('html_attr') }}" data-sortable-order-target="list">
                    {% for fieldForm in form.fields %}
                        {% include 'capture/field/_field_template_prototype.html.twig' with { form: fieldForm } %}
                    {% endfor %}
                </div>
            </div>
        </div>#}
    </div>

    {{ form_end(form) }}


{% endblock %}
