{% extends 'base.html.twig' %}
{% block title %}Edition du rendu
{% endblock %}

{% block body %}

	{% include 'components/partials/_page_header.html.twig' with {
        title: 'Edition du rendu'
        } %}

	{{ form_start(form) }}
	{# TITLE #}
	<div class="row">
		<div class="col-10">
			{{ form_row(form.title.content) }}
		</div>
		<div class="col-2">
			{{ form_row(form.title.level) }}
		</div>
	</div>


	<div
		class="row">
		{# EDITOR #}
		<div class="col-10">
			{{ form_row(form.templateContent) }}
		</div>

		{# AVAILABLE VARIABLES NAMES#}
		<div class="col-2">
			<div class="mb-2">Variables disponibles</div>
			<div class="form-control">
				{% for variable in variables %}
					<div><code>[{{ variable }}]</code></div>
				{% else %}
					Aucune variable disponible
				{% endfor %}
			</div>
		</div>
	</div>

	<button class="btn btn-primary">Enregistrer</button>

	{{ form_end(form) }}

{% endblock %}
