{% extends 'base.html.twig' %}

{% block title %}{{ templateMode ? 'Nouveau template de capture' : 'New Capture' }}{% endblock %}

{% block body %}
    <h2>{{ templateMode ? 'Nouveau template de capture' : 'Nouvelle capture' }}</h2>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    <div class="d-flex justify-content-end align-items-start gap-2 mt-4">
        {% set backRoute = templateMode ? 'app_capture_template_index' : 'app_capture_index' %}
        {% include 'components/button/_btn.html.twig' with {
            btn: {
                type: 'link',
                label: 'Retour',
                icon: 'bi-arrow-left',
                route: backRoute,
                class: 'btn btn-outline-primary'
            }
        } %}

        {% include 'components/button/_btn.html.twig' with {
            btn: {
                type: 'submit',
                label: 'Enregistrer',
                icon: 'bi-check',
                class: 'btn btn-primary'
            }
        } %}
    </div>
    {{ form_end(form) }}
{% endblock %}
