<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ asset('css/document-preview.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Aperçu</title>
    {{ encore_entry_link_tags('app') }}
</head>

<body class="doc-iframe-body">
{% set docBody %}
    {% for element in capture.captureElements %}
        {% if element.template %}
            {% set elementConditions = (capture.conditions ?? [])
                | filter(c => (c.targetElement is same as(element))
                or (c.targetElement is defined and c.targetElement.id is defined and c.targetElement.id == element.id)) %}

            {% if elementConditions|length %}
                <div class="mb-0 mt-2">
                    {% for condition in elementConditions %}
                        <div class="doc-condition">{{ condition }}</div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if element.chapter is not null and element.chapter.title is not null %}
                {% include 'capture/rendering/_title_render.html.twig' with { title: element.chapter.title } only %}
            {% endif %}
            {% if element.chapter is not null and element.chapter.renderContent is not null %}
                <div class="doc-paragraph">{{ element.chapter.renderContent }}</div>
            {% endif %}
        {% else %}
            {% if element.active %}
                {% if element.chapter is not null and element.chapter.title is not null %}
                    {% include 'capture/rendering/_title_render.html.twig' with { title: element.chapter.title } only %}
                {% endif %}
                {% if element.chapter is not null and element.chapter.renderContent is not null %}
                    <div class="doc-paragraph">{{ element.chapter.renderContent }}</div>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endset %}

<div class="doc-container doc-container--iframe">
    {% include 'capture/rendering/_document_template.html.twig' with { capture: capture, docBody: docBody } %}
</div>
</body>
</html>
