{{ form_start(form) }}
<div class="row">
    <div class="col-md-6 p-3">
        <h5>Général</h5>
        {{ form_row(form.username) }}
        {{ form_row(form.email) }}
        {{ form_row(form.function) }}
    </div>
    <div class="col-md-6 p-3">
        <h5>Rôles</h5>
        {{ form_row(form.participantRoles) }}
    </div>
</div>
<div class="d-flex justify-content-end align-items-start gap-2 mt-4">

    {% include 'components/button/_btn.html.twig' with {
        btn: {
            type: 'link',
            label: 'Retour',
            icon: 'bi-arrow-left',
            route: 'app_administration_index',
            class: 'btn btn-outline-primary'
        }
    } %}

    {% include 'components/button/_btn.html.twig' with {
        btn: {
            type: 'submit',
            label: 'Enregistrer',
            icon: 'bi-check',
            class: 'btn btn-primary'
        }
    } %}
</div>
{{ form_end(form) }}
