{# INDEX TABLE COMPONENT #}

{# Initialisation des variables #}
{% set items = items is defined ? items : [] %}
{% set columns = columns is defined ? columns : [] %}
{% set headers = headers is defined ? headers : null %}
{% set table_id = 'table_' ~ random() %}
{% set filter = filter is defined ? filter : false %}
{% set sort = sort is defined ? sort : false %}
{% set row_actions = actions|default([]) %}
{% set has_row_actions = row_actions|length > 0 %}
{% set add_action = add|default(null) %}

{% import 'components/table/_table_cell.html.twig' as cell_format %}

{# Add button #}
<div class="text-end">
    {% include 'components/button/_btn_new.html.twig' with {
        route: add_action.route,
        params: add_action.params|default({})
    } %}
</div>


{# Header #}
<table
    class="table table-hover align-middle"
    id="{{ table_id }}"
    data-controller="table-filters"
>
    <thead class="table-light">
    <tr>
        {% for column in columns %}
            {% set column_index = loop.index0 %}
            {% set label = headers[column_index] ?? column %}

            <th class="position-relative overflow-visible">
                <div class="d-inline-flex align-items-center gap-2">
                    <span>{{ label }}</span>

                    <button
                        type="button"
                        class="btn btn-sm p-0"
                        title="Filtrer"
                        data-action="click->table-filters#toggleFilter"
                        data-table-filters-column-param="{{ column_index }}"
                        data-table-filters-role="filter"
                    >
                        <i class="bi bi-funnel"></i>
                    </button>

                    <button
                        type="button"
                        class="btn btn-sm p-0"
                        title="Trier"
                        data-action="click->table-filters#sort"
                        data-table-filters-column-param="{{ column_index }}"
                        data-table-filters-role="sort"
                    >
                        <i class="bi bi-sort-alpha-down"></i>
                    </button>
                </div>

                {# Filter input #}
                <div
                    class="table-filter-popover d-none"
                    data-table-filters-target="filterPopover"
                    data-table-filters-column="{{ column_index }}"
                >
                    <input
                        type="text"
                        class="form-control form-control-sm"
                        placeholder="Filtrer {{ label }}"
                        data-table-filters-target="filterInput"
                        data-table-filters-column="{{ column_index }}"
                        data-action="input->table-filters#filter blur->table-filters#closeFilter"

                    >
                </div>
            </th>

        {% endfor %}
        {% if has_row_actions %}
            <th></th>
        {% endif %}
    </tr>
    </thead>


    <tbody>
    {% for item in items %}
        <tr>
            {# Values #}
            {% for property in columns %}
                {% set value = attribute_chain(item, property) %}
                <td>{{ cell_format.value(value) }}</td>
            {% endfor %}

            {# Action buttons #}
            {% if has_row_actions %}
                <td class="text-nowrap btn-fixed-width">
                    {% include 'components/table/_table_row_actions.html.twig' with {
                        actions: row_actions,
                        item: item,
                        default_btn_class: 'btn btn-outline-primary btn-sm'
                    } %}
                </td>
            {% endif %}
        </tr>
    {% else %}
        <tr>
            <td colspan="{{ columns|length + (has_row_actions ? 1 : 0) }}" class="text-muted text-center">
        </tr>
    {% endfor %}
    </tbody>
</table>
