{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">
        {{ form_row(form.name) }}
    </div>
    <div class="col-md-4">
        {{ form_row(form.status) }}
    </div>
</div>

{{ form_row(form.description) }}

    {% include 'components/button/_btn_bar.html.twig' with {
        buttons: {
            back: {
                type: 'link',
                route: 'app_project_template_index',
                icon: 'bi-arrow-left',
                label: 'Retour',
                class: 'btn btn-outline-primary btn-sm'
            },
            save: {
                type: 'submit',
                icon: 'bi-check',
                label: 'Enregistrer',
                class: 'btn btn-primary btn-sm'
            },
        }
    } %}

{% set prototype %}
    {% include 'capture/_capture_prototype.html.twig' with { form: form.captures.vars.prototype } %}
{% endset %}
<div
    data-controller="project"
    data-prototype="{{ prototype|e('html_attr') }}"
>
    {% for capture in form.captures %}
        {% include 'capture/_capture_prototype.html.twig' with { form: capture } %}
    {% endfor %}

    <a class="btn btn-primary btn-sm"
       href="{{ path('app_capture_index', { project: project.id }) }}">
        Ajouter un élément
    </a>
</div>
{{ form_end(form) }}
