{% if capture is defined %}
    {% set collapseId = 'capture_' ~ (capture.id ?? loop.index) %}
    <div class="mb-0 {{ 'element' }}" data-sortable-id="{{ capture.id }}">
        {# <div class="mb-0 {{ 'capture' ~ (capture.active ? '' : ' card-inactive') }}" data-sortable-id="{{ capture.id }}"> #}
        {# CARD HEADER #}
        <div class="element-card py-1">
            <div class="row g-0 align-items-center">

                {# Handle sortable if template #}
                {% if capture.template or capture.draft %}
                    <div class="col-auto pe-2 text-muted" data-sortable-handle style="cursor: grab;">
                        <i class="bi bi-grip-vertical"></i>
                    </div>
                {% endif %}

                {# Col Name #}
                <div class="col-3 pe-3 text-truncate">
                    <span class="fw-semibold text-truncate">{{ capture.name }}</span>
                </div>

                {# Col Description #}
                <div class="col-6 pe-3 text-truncate">
                    <span class="text-truncate">{{ capture.description }}</span>
                </div>

                {# Col Actions #}
                <div class="col-auto ms-auto">
                    <div class="d-flex align-items-center">

                        {# Actions buttons #}
                        <div class="d-flex justify-content-end gap-1 pe-2">
                            <button type="button"
                                    class="btn btn-outline-primary btn-sm"
                                    data-bs-toggle="modal"
                                    data-bs-target="#documentPreviewModal"
                                    title="Aperçu du document"
                                    data-capture-id="{{ capture.id }}">
                                <i class="bi bi-eye me-1"></i>
                            </button>
                            {% if capture.ready %}
                                {# EDIT TEMPLATE #}
                                <a href="{{ path('app_capture_edit', {
                                    id: capture.id,
                                    projectId: project.id,
                                }) }}"
                                   class="btn btn-outline-primary btn-sm"
                                   title="Editer la capture" aria-label="Editer la capture">
                                    <i class="bi bi-pencil"></i>
                                </a>
                            {% endif %}
                            {% if is_granted('ROLE_ADMIN') %}
                                {% if project.template or project.draft %}
                                    {# EDIT TEMPLATE #}
                                    <a href="{{ path('app_capture_template_edit', {
                                        id: capture.id,
                                        projectId: project.id,
                                    }) }}"
                                       class="btn btn-outline-primary btn-sm"
                                       title="Editer la capture" aria-label="Editer la capture">
                                        <i class="bi bi-pencil"></i>
                                    </a>

                                    {# DELETE TEMPLATE #}
                                    <button
                                        type="button"
                                        class="btn btn-outline-danger btn-sm"
                                        data-action="click->modal-confirmation#open"
                                        data-modal-confirmation-action-value="{{ path('app_project_template_delete_capture', {
                                            projectId: project.id,
                                            id: capture.id,
                                            kind: kind
                                        }) }}"
                                        data-modal-confirmation-token-value="{{ csrf_token('detach_capture' ~ project.id ~ '_' ~ capture.id ~ '_' ~ kind) }}"
                                        data-modal-confirmation-message-value="Confirmer le détachement de cette capture du projet ?"
                                        title="Détacher cette capture">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                {% endif %}
                            {% endif %}
                            {% if project.ready %}
                                {% if is_granted('ROLE_USER') %}
                                    {# RESPOND #}
                                    <a href="{{ path('app_capture_edit', {
                                        id: capture.id,
                                        projectId: project.id,
                                    }) }}"
                                       class="btn btn-outline-primary btn-sm"
                                       title="Répondre" aria-label="Répondre">
                                        <i class="bi bi-pencil-square"></i>
                                    </a>
                                {% endif %}
                            {% endif %}

                        </div>

                        {# status + collapser #}
                        <div class="d-inline-flex justify-content-end align-items-center gap-2 text-nowrap"
                             style="width: 130px;">
                            <span class="badge bg-secondary type-badge">
                                 {{ capture.statusLabel }}
                            </span>

                            <a href="#{{ collapseId }}"
                               class="collapse-chevron"
                               data-bs-toggle="collapse"
                               role="button"
                               aria-expanded="false"
                               aria-controls="{{ collapseId }}"
                               title="Ouvrir / Fermer">
                                <i class="bi bi-chevron-down"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="{{ collapseId }}" class="collapse">
            <div class="pt-3 mx-3 element-card-body">
                <div class="row g-2 align-items-center mb-2">
                    <div class="col-3 d-flex align-items-center gap-2">
                        <span class="col-header">Contributeur :</span>
                        <span class="text-truncate flex-grow-1">
                            {# {{ capture.contributor is defined and capture.contributor ? capture.contributor.name : 'Aucune contribution' }} #} </span>
                    </div>

                    <div class="col-3 d-flex align-items-center gap-2">
                        <span class="col-header">Validateur :</span>
                        <span class="text-truncate flex-grow-1">
                            {# {{ capture.validator is defined and capture.validator ? capture.validator.name : 'Aucune validation' }} #}
                        </span>
                    </div>

                    <div class="col-auto d-flex align-items-center gap-2">
                        <span class="col-header">Condition(s) :</span>

                        {% if incomingConditions is defined and incomingConditions|length %}
                            <span class="text-truncate flex-grow-1">
                                {{ incomingConditions|join(' · ') }}
                            </span>
                        {% else %}
                            <span class="text-truncate flex-grow-1">
                                Aucune condition
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% else %}
    <div class="col">
        <div class="alert alert-secondary mb-0">Aucun élément</div>
    </div>
{% endif %}
